<nav class="navbar sticky-top navbar-dark bg-color navbar-expand-lg" style="z-index: 100000000000000;">
    <a class="navbar-brand nav-head" href="#">Rent & Ride</a>
    <button class="navbar-toggler" style="color: transparent;border-color: transparent" type="button"
        data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel"
        style="background: var(--dark)">
        <div class="offcanvas-header">
            <h1 class="font-poppins clr-bg" style="font-size: 20px; margin-top: 8px;"><a href="index.html">Rent &
                    Ride</a> </h1>
            <button type="button" class="toggler text-reset" data-bs-dismiss="offcanvas" aria-label="Close"><span
                    class="clr-bg"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-lg" viewBox="0 0 16 16">
                        <path
                            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                    </svg></span></button>
        </div>
        <div id="nav-holder" class="offcanvas-body flex justify-center align-center clr-bg">
            <ul id="nav-list" class="navbar-nav mb-2 mb-lg-0 flex justify-center align-center">
                <li class="nav-item">
                    <a class="nav-link active" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#AboutUs">About Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="offcanvasnavbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="true">
                        Vehicles
                    </a>
                    <ul class="dropdown-menu position-absolute" aria-labelledby="offcanvasnavbarDropdown"
                        style="background-color: var(--dark);">
                        <li *ngFor="let item of category"><a class="dropdown-item" [href]="'showcase/' + item.toLowerCase()">{{item}}</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#ContactUS">Contact Us</a>
                </li>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <a type="button" class="btn btn-primary position-relative" id="mail" href="profile">
                        Profile
                        <span
                            class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                            <span class="visually-hidden">New alerts</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="border-none btn-blue mb-auto" style="margin-left:10px;" id="login" href="login">Login</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="border-none btn-red mb-auto login" id="register" href="register">Register</a>
                </li>

                <li><button id="logout" class="border-none btn-red mb-auto ml-1" (click)="logout()" *ngIf="isLoggedIn">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>