@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Open+Sans:wght@700&family=Oswald:wght@600&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Oswald:wght@600&family=Poppins:wght@700&display=swap");
:root {
  --dark: #0d0d0d;
  --blue: #131a25;
  --bg: white;
  --theme: #fe432f;
  --truck: #b14605;
  --bus: #c0aa86;
  --bike: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


a {
  text-decoration: none;
}
body {
  color: var(--bg);
  height: auto;
  width: 100vw;
  overflow-x: hidden;
}
#nav-holder {
  padding: 10px;
}
.navbar-brand {
  padding: 10px;
}
.hero-visit {
  color: white;
  text-decoration-color: transparent;
}
.hero-visit:hover {
  color: rgb(205, 205, 205);
  text-decoration-color: transparent;
}
.rent {
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: medium;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bg);
}
.intro {
  margin-top: 20px;
  width: 80%;
}
.intro p {
  font-size: 1rem;
}
.cars-2 {
  margin-top: 15px;
}
.cars-3 {
  margin-top: 15px;
}
.cars {
  margin-top: 15px;
}
/*========================= cars card section ============== */

 .card .img-overlay .truck.size span:hover {
  background: #b14605;
  color: #000000;
}
 .truck.card:before {
  background: var(--truck);
}
 .truck.card:after {
  content: "Pickup Trucks";
  top: 60%;
  left: 10%;
  font-size: 2.5em;
}

 .card .img-overlay .bus.size span:hover {
  background: #c0aa86;
  color: #000000;
}
 .bus.card:before {
    color: #000000;
  background: var(--bus);
 
}
.bus.card h3{
    color: #000000;
}

 .bus.card:after {
  content: "Bus";
  top: 60%;
  left: 25%;
  font-size: 6em;
}

 .card .img-overlay .two.size span:hover {
  background: #000000;
  color: #ffffff;
}
 .two.card:before {
  background: var(--bike);
}

 .two.card:after {
  content: "Two Wheeler";
  top: 60%;
  left: 10%;
  font-size: 2.5em;
}

 .card .img-overlay .minibus.size span:hover {
  background: #000000;
  color: #cbcbcb;
}
 .minibus.card:before {
  background: #cbcbcb;
}

 .minibus.card:after {
  content: "Mini Bus";
  top: 60%;
  left: 20%;
  font-size: 3em;
}

 .card .img-overlay .offroad.size span:hover {
  background: #699abf;
  color: black;
}
 .offroad.card:before {
  background: #699abf;
}

 .offroad.card:after {
  content: "Offroad";
  top: 60%;
  left: 20%;
  font-size: 3em;
}

 .card .img-overlay .hatchback.size span:hover {
  background: yellow;
  color: black;
}
 .hatchback.card:before {
  background: yellow;
}

 .hatchback.card:after {
  content: "Hatchbacks";
  top: 60%;
  left: 8%;
  font-size: 3em;
}

 .vans.card:before {
  background: #686a6f;
}
 .card .img-overlay .size.vans span:hover {
  background: #686a6f;
  color: var(--bg);
}
 .vans.card:after {
  content: "Mini Vans";
  top: 60%;
  left: 15%;
  font-size: 3em;
}
 .fortuner.card:after {
  content: "SUV";
  top: 60%;
  left: 35%;
} 
.fortuner.card:before {
  background: #4c3935;
}
 .card .img-overlay .size.fortuner span:hover {
  background: #4c3935;
  color: var(--bg);
}
 .card .img-overlay  span:hover {
  background: #dc2c60;
}

.card {
  margin-top: 40px;
  margin: 30px;
}

section {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}


#login{
  margin-right: 10px;
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: -70;
}
@media (max-width: 992px) {
   .card {
    margin-top: 15px;
  }
  .cars,
  .cars-2,
  .cars-3 {
    flex-direction: column;
  }
}
.flex {
  display: flex;
}
.flex-colum {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-right {
  justify-content: right;
}
.justify-left {
  justify-content: left;
}
.justify-center {
  justify-content: center;
}
.position-absolute {
  position: absolute;
}
.align-left {
  align-items: left;
}
.align-center {
  align-items: center;
}
.align-right {
  align-items: right;
}
.font-worksans {
  font-family: "Work Sans", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.font-sans {
  font-family: "Open Sans", sans-serif;
}
.font-hamer {
  font-family: "Hammersmith One", sans-serif;
}
.mr-left {
  margin-left: 20px;
}
.container {
  max-width: 140rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 7rem;
}

.grid-two-column {
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: 1fr 1fr; */
}


.border-none {
  border-color: transparent;
  border: none;
}

.color-none {
  color: transparent;
}
.clr-bg {
  color: var(--bg);
}
.clr-theme{
  color:var(--theme);
}
.btn-blue {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;

  color: #fff;
  background-color: #0d6efd;
  text-decoration: none;
}
.btn-red {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  color: #fff;
  background-color: var(--theme);
  border-color: var(--theme);
  text-decoration: none;
  transition: all 60ms ease-in-out;
  -webkit-transition: all 60ms ease-in-out;
  -moz-transition: all 60ms ease-in-out;
  -ms-transition: all 60ms ease-in-out;
  -o-transition: all 60ms ease-in-out;
}
.btn-red:hover {
  color: var(--bg);
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
}
.btn-blue:hover {
  color: var(--bg);
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -ms-transform: scale(0.97);
  -o-transform: scale(0.97);
}
.mr-1 {
  margin-right: 10px;
}
.ml-1 {
  margin-left: 10px;
}
.flex-wrap {
  flex-wrap: wrap;
}

.position-fixed {
  position: fixed;
}
.h-50vh{
height: 50vh;
}
.rotate-effect:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transition:  0.8s ease-in;
  -webkit-transition:  0.8s ease-in;
  -moz-transition:  0.8s ease-in;
  -ms-transition:  0.8s ease-in;
  -o-transition:  0.8s ease-in;
}