  .background {
        background-image: url("/assets/background-cover.jpg");
        height: 92.5vh;
        background-size: cover;
        background-position: center;
    }

    .background::after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background: rgba(255, 255, 255, 0.200);
    }

    .content {
        border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
        text-align: center;
        padding: 60px 32px;
        width: 370px;
        transform: translate(-50%, -50%);
        background: rgba(255, 255, 255, 0.133);
        border: 1px solid #fff;
        backdrop-filter: blur(3px);
        box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
        color: black;
    }

    .content header {
        color: black;
        font-size: 30px;
        font-weight: bold;
        margin: 0 0 35px 0;
        font-family: "Josefin Sans", sans-serif;

    }

    .field {
        position: relative;
        height: 45px;
        width: 100%;
        display: flex;
        background: rgba(255, 255, 255, 0.94);
    }

    .field span {
        color: #222;
        width: 40px;
        line-height: 45px;
    }

    .field input,
    .field a {
        height: 100%;
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        color: #222;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        font-family: "Josefin Sans", sans-serif;
    }

    .space {
        margin-top: 20px;
    }

    .show-btn {
        position: absolute;
        right: 13px;
        font-size: 13px;
        font-weight: 700;
        cursor: pointer;
        font-family: "Poppins", sans-serif;
    }

    .field a {
        background: var(--theme);
        border: 1px solid #a70000;
        color: white;
        text-align: center;
        letter-spacing: 1px;
        font-size: x-large;
        font-weight: 600;
        cursor: pointer;
        font-family: "Josefin Sans", sans-serif;
        transition: all 0.5s ease;
    }

    .field a:hover {
        background: #e40d0df5;
    }

    span {
        margin-left: 8px;
        font-weight: 800;
        letter-spacing: 1px;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
    }